.bg-black {
    background: black;
}
.bg-white {
    background: rgb(255, 255, 255);
}
body {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: 100;
    h1,h2{
        font-weight: 600;
    }
}