/* Navbar styles */
.navbar {
    background-color: black;
    padding: 0;
    input, input::after , .input:focus, .input:active, input:hover , input:checked{
      background-color: transparent;
      color: white;
    }
  }
  .immerse{
    font-weight: 800;
  }
  .navbar .nav-link {
    color: white;
  }
  .navbar .navbar-brand img {
    max-height: 30px;
  }
  .navbar .nav-item .nav-link {
    font-weight: 700;
    font-size: .8em;
    padding: 8px 16px;
    font-size: .8em;
  }
  .sign-in{
    color: white;
  }
  .sign-up{
    background-color: $primary;
    color: #15182c !important;
    border-radius: 5px;
  }
  .navbar .nav-item .nav-link:hover {
    color: #ddd;
  }
  /* Optional: Fine-tune the search icon position for various screen sizes */
  .navbar .form-control {
    padding-right: 40px; /* Space for the icon inside the input */
  }
  .navbar .bi-search {
    font-size: .8em; /* Adjust the size of the search icon */
  }
  /* Custom CSS for large dropdown menu */
.dropdown-menu {
  min-width: 600px;
}

.dropdown-item {
  padding: 0.5rem 1rem;
}
.dropdown-item:hover, .dropdown-item:focus , .dropdown-item::after, .dropdown-item:checked , .dropdown-item:active,.dropdown-item:target{
    background-color: #ff00dd52;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
  }

.dropdown-header {
  font-weight: 600;
}
/* Show dropdown menu on hover */
.dropdown:hover .dropdown-menu {
  font-size: .8em;
  display: block;
  margin-top: 0;
}
/* Ensure the dropdown menu appears smoothly */
.dropdown-menu {
  display: none; /* Hide by default */
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  .dropdown-header{
    font-size: 1.1em;
    font-weight: 600;
  }
  .dropdown-item{
    font-weight: 600;
  }
}

.dropdown:hover .dropdown-menu {
  display: block;
  opacity: 1;
  margin-top: 0;
}


.placeholder-white::placeholder {
  color: white !important;
  opacity: 0.8 !important;  
}
